.footer{
    background-image: url(../../assets/img/backGround.png);
    background-size: cover;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    color: #FFFF;
}