.containerAstrologicalEvents{
    background-image: url(../../../assets//img/backGround.png);
    background-size: contain;
    padding-bottom: 2rem;
}
.astrological-events {
    background-color:rgba(85, 129, 180, 0.7);
    margin: 2rem auto;
    width: 25rem;
    color: white;
}
.containerAstrologicalEvents h1{
    margin: 0;
    text-align: center;
    padding: 1rem;
}
.astrological-events table {
    width: 100%;
    border-collapse: collapse;
}
.astrological-events th, .astrological-events td {
    border: 1px solid #ddd;
    padding: 8px;
}
.astrological-events table th{
    background-color:rgba(199, 202, 206, 0.7);
}
.astrological-events th {
    background-color: #f2f2f2;
    text-align: left;
}
.buttonAstrologicalEvents{
    background-image: url(../../../assets//img/backGround.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.buttonAstrologicalEvents{
    text-align: center;
    
}
.buttonAstrologicalEvents button{
    padding: 0.6rem;
    border-radius: 1rem;
    background-color: #fefefe;
}
.buttonAstrologicalEvents button:hover{
    background-color: #cac8c8;
}
@media (min-width:760px){
    .astrological-events{
        width: 70rem;
    }
}